@import url(Badge/style.css);
@import url(Card/style.css);
@import url(Chips/style.css);
@import url(Dialog/style.css);
@import url(Drawer/style.css);
@import url(Header/style.css);
@import url(Snackbar/style.css);
@import url(Tabs/style.css);
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
button{
    padding: 20px;
    background-color: blueviolet;
}
button a{
color: white;
font-size: 20px;
text-decoration: none;
}