body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/*Overlay card*/

.wrapper-overlay{
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 450px;
    box-shadow: 0 0 10px rgb(117, 111, 111);
    border-radius: 5px;
    margin: 10px;
}
.card-overlay-header{
    position: relative;
    color: wheat;
}
.card-overlay-header img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card-overlay-header-title{
    position: absolute;
    bottom: 50px;
    left: 10px;
}
.card-overlay-header-description{
   width: 100%;
   color: rgb(71, 70, 70);
   margin: 10px;
   font-size: 19px;
}
.card-overlay-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px 0;
}
.card-overlay-footer-options button{
    padding: 10px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: blueviolet;
    margin-right: 15px;
    background-color: transparent;
}
.card-overlay-footer-options button:hover{
    border-radius: 5px;
    background-color: rgb(212, 203, 219);
}
.card-overlay-footer-actions i{
    padding: 8px;
    margin-left: 15px;
}
.card-overlay-footer-actions i:hover{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(201, 197, 206);
}

/*Basic*/
.wrapper-basic{
    display: flex;
    flex-direction: column;
}
.card-basic{
    height: 500px;
    width: 450px;
    box-shadow: 0 0 10px rgb(117, 111, 111);
    border-radius: 5px;
    margin: 10px;
}
.card-basic-header:hover{
    opacity: 0.9;
}
.card-basic-header-image{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 450px;
    height: 250px;
}
.card-basic-header-title{
    margin: 5px 15px;
}
.card-basic-header-description{
    margin: 5px 15px;
    font-size: 18px;
}
.card-basic-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
}
.card-basic-footer-options button{
    padding: 10px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: blueviolet;
    margin-right: 15px;
    background-color: transparent;
}
.card-basic-footer-options button:hover{
    border-radius: 5px;
    background-color: rgb(212, 203, 219);
}
.card-basic-footer-actions i{
    padding: 8px;
    margin-left: 15px;
}
.card-basic-footer-actions i:hover{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(201, 197, 206);
}

/*Header*/
.wrapper-header{
    display: flex;
    flex-direction: column;
}
.card-header{
    height: 500px;
    width: 450px;
    box-shadow: 0 0 10px rgb(117, 111, 111);
    border-radius: 5px;
    margin: 10px;
}
.card-header-header:hover{
    opacity: 0.9;
}
.card-header-header-image{
    width: 450px;
    height: 250px;
}
.card-header-header-title{
    margin: 5px 15px;
}
.card-header-header-description{
    margin: 5px 15px;
    font-size: 18px;
    padding: 5px;
}
.card-header-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
}
.card-header-footer-options button{
    padding: 10px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: blueviolet;
    margin-right: 15px;
    background-color: transparent;
}
.card-header-footer-options button:hover{
    border-radius: 5px;
    background-color: rgb(212, 203, 219);
}
.card-header-footer-actions i{
    padding: 8px;
    margin-left: 15px;
}
.card-header-footer-actions i:hover{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(201, 197, 206);
}

.card-basic-footer-button-only{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin: 20px 10px;
}
.card-basic-footer-icons-only{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin: 20px 10px;
}

/*Horizontal Image and text*/
.wrapper-horizontal{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 450px;
    box-shadow: 0 0 10px rgb(117, 111, 111);
    border-radius: 5px;
}
.card-horizontal-header img{
    width: 150px;
    height:100%;
}
.card-horizontal-header{
    display: flex;
    height: 80%;
}
.card-horizontal-header-title{
    margin-left: 15px;
}
.card-horizontal-header-title h2{
    margin-bottom: 8px;
}
.card-horizontal-header-title p{
    color: rgb(75, 71, 71);
    margin-top: 0px;
}
.card-horizontal-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    margin:15px auto;
}
.card-horizontal-footer-options button{
    padding: 10px 15px;
    border: none;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
    background-color: transparent;
}
.card-horizontal-footer-options button:hover{
    border-radius: 8px;
    background-color: rgb(222, 224, 231);
}
.card-horizontal-footer-actions i{
    padding: 5px;
    margin-right: 15px;
    height: 35px;
    width: 35px;
    border-radius: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.card-horizontal-footer-actions i:hover{
    background-color: rgb(205, 202, 207);
}